body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color:#333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section{
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
}


p{
    color:rgb(216, 142, 154);
}
